<h1>Sửa Sinh Viên</h1>
<form action="/update" method="POST">
    ID: <input type="text" name="id" value="<%= sinhviens.id %>"><br>
    maSinhVien: <input type="text" name="maSinhVien" value="<%= sinhviens.maSinhVien %>"><br>
    ngaySinh: <input type="text" name="ngaySinh" value="<%= sinhviens.ngaySinh %>"><br>
    gioiTinh: <input type="text" name="gioiTinh" value="<%= sinhviens.gioiTinh %>"><br>
    queQuan: <input type="text" name="queQuan" value="<%= sinhviens.queQuan %>"><br>
    <button type="submit">Sửa Sinh viên</button>

</form>